<!DOCTYPE html>
<html>
<body>
	<form action="/people/cadastrar/" method="post">
		<div>
			{% csrf_token %}
			<p>Nome: <input type="text" name="nome"></p>
			<p>Idade: <input type="text" name="idade"></p>
			<p>CPF: <input type="text" name="cpf"></p>
			<p>Logradouro: <input type="text" name="logradouro"></p>
			<p>Número: <input type="text" name="numero"></p>
			<p>Bairro: <input type="text" name="bairro"></p>
			<p>CEP: <input type="text" name="cep"></p>
		</div>
		<div>
			<input type="submit" value="Enviar">
		</div>
	</form>
</body>
</html>