<a href="/people/cadastro">Cadastrar Nova Pessoa</a></br>
<a href="/people/criarAluno">Criar novo aluno</a></br>
<a href="/people/criarAutomovel">Criar novo automóvel</a></br>
<a href="/people/criarConjuge">Criar novo conjuge</a></br>
<a href="/people/listar">Listar pessoas</a></br>
<a href="/people/listarAluno">Listar alunos</a></br>
<a href="/people/listarAutomovel">Listar automovel</a></br>
<a href="/people/listarConjuge">Listar Conjuge</a>

<br>
{% load static %}
{% if lista %}
	<ul>
	{% for conjuge in lista %}
		<!-- li><a href="/people/detalhar/{{ pessoa.id }}/">{{pessoa}}</a></li -->
		<li>
			<a href="{% url 'detalharConjuge' conjuge.id %}">{{conjuge}}</a>
			<a href="{% url 'excluirConjuge' conjuge.id %}">
				<img src="{% static 'excluir.png' %}" width="20" height="20">
			</a>
		</li>
	{% endfor %}
	</ul>

{% else %}
	<p>Não há conjuges cadastradas</p>
{% endif %}